<h1>{{Title}}</h1>
<table class="table table-stripped table-hover">
    <thread>
        <th>First name</th>
        <th>Second name</th>
        {{#each participants}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
        </tr>
        {{/each}}
    </thread>
</table>
