
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-nav li a {
  color: rgb(187, 16, 116);
}
.navbar-nav li a:active {
  color: rgb(41, 16, 153);
}
.footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}

