<form method="POST">
    <fieldset>
        <label for = "task" class="col-2">Task:</label>
        <input name="task" id="task" required value="{{tasks.task}}" />
    </fieldset>

     <fieldset>
        <label for = "startDate" class="col-2">Start Date:</label>
        <input name="startDate" id="startDate" required type = "date" value="{{usDate tasks.startDate}}" />
    </fieldset>

    <fieldset>
        <label for = "endDate" class="col-2">End Date:</label>
        <input name="endDate" id="endDate" required type = "date" value="{{usDate tasks.endDate}}" />
    </fieldset>
  
    <button class="offset-3 btn btn-primary">Save</button>
</form>